body {
  background-color: rgb(202, 215, 242);
  font-family: cursive;

}

header {
  display: flex;
  justify-content: space-between;
  border-style: solid;
  border-radius: 10px;
  border-color: cornflowerblue;
  margin-bottom: 40px;

}

img {
  width: 140px;
  height: 75px;
  border: radius 5px;

}

nav ul {
  display: flex;
  list-style-type: none;
  margin-right: 100px;
  gap: 180px;
}

a {
  text-decoration: none;
  color: black;


}

nav ul li {
  padding: 8px;
  font-size: 23px;

}

h2 {
  display: flex;
  margin-right: auto;
  text-shadow: 0 0 3px #3a3131, 0 0 5px #5d5da5;
}

.hint {
  margin-bottom: 30px;
  text-shadow: none;
}

footer {
  display: flex;
  justify-content: center;
}

.ft {
  margin-left: 50px;
  padding-top: 16px;
  color: black;
}

span {
  margin-left: 50px;
  padding-top: 16px;
  font-size: 30px;
}

.employee {
  display: flex;
  justify-content: center;
  margin-bottom: 37px;
  margin-top: 20px;
  font-size: 35px;
  color: rgb(107, 107, 1);
  border-style: solid;
  border-radius: 20px;


}

#employeecard {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

}

#employeecard div {
  width: 300px;
  margin: 25px;
  text-align: center;
  border-style: groove;
  border-radius: 30px;
  border-width: 0.5px;
  background-color: rgb(99, 159, 238);

}

#employeecard img {
  width: 70%;
  object-fit: cover;
  height: 200px;
  padding-top: 10px;

}

#employeecard p {
  margin: 10px 0;
  color: black;
}

#employeecard div {
  opacity: 0;
  /* Hide the div initially */
  animation: fade-in 2s ease-in-out forwards;
  /* Use the "fade-in" animation to show the div */
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}